<section class="flex flex-col items-center justify-center py-16 px-6 text-center font-primary">

  <h1 class="text-5xl font-bold text-gray-900">Acorta tus URLs en segundos</h1>
  <p class="text-lg text-gray-600 mt-4">Rápido, simple y sin complicaciones.</p>
  
  <div class="mt-6 bg-white p-4 rounded-lg shadow-md w-full max-w-md">
    <form [formGroup]="formUrl" (ngSubmit)="createShortUrl()">
      <input id="original_url" formControlName="original_url" type="text" placeholder="Introduce tu URL aquí"
            class="w-full p-3 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300">
      <button type="submit" class="w-full bg-primary-400 text-white px-4 py-2 mt-2 rounded-lg hover:bg-primary-500 transition">
        Acortar URL
      </button>
    </form>

    @if(shortUrl!=''){
      <p class="text-green-500">¡URL acortada con éxito!</p>
      <p class="text-blue-500 mt-2">
        <a [href]="shortUrl" target="_blank">{{ shortUrl }}</a>
      </p>
    }

  </div>

</section>
