<section class="relative mt-12 px-0 my-8">

    <div class="absolute top-1/2 left-0 w-screen h-1 bg-soft/30 -z-10"></div>
  
    <h2 class="text-center text-xl sm:text-2xl font-bold font-primary text-soft mb-8">
      ¿Qué puedes hacer?
    </h2>
  
    <div class="max-w-6xl mx-auto px-6 grid gap-10 sm:grid-cols-2 lg:grid-cols-3 justify-items-center">

      <div
        class="max-w-xs bg-dull text-white border-2 border-black p-4 rounded-lg shadow-[2px_2px_0px_black]
               flex flex-col items-center text-center gap-3 cursor-default"
      >
        <img src="assets/icon/acorta.svg" alt="Acortar" class="w-20 h-20" />
        <h3 class="text-base font-bold font-primary text-mint">Acorta tus URLs</h3>
        <p class="text-sm font-secondary text-soft leading-snug">
          Transforma enlaces largos en versiones cortas y fáciles de compartir.
        </p>
      </div>
  
      <div
        class="max-w-xs bg-dull text-white border-2 border-black p-4 rounded-lg shadow-[2px_2px_0px_black]
               flex flex-col items-center text-center gap-3 cursor-default"
      >
        <img src="assets/icon/qr.svg" alt="Generar QR" class="w-20 h-20" />
        <h3 class="text-base font-bold font-primary text-mint">Crea tu QR</h3>
        <p class="text-sm font-secondary text-soft leading-snug">
          Genera un código QR automáticamente para compartir tu enlace de forma rápida y sencilla.
        </p>
      </div>
  
      <div
        class="max-w-xs bg-dull text-white border-2 border-black p-4 rounded-lg shadow-[2px_2px_0px_black]
               flex flex-col items-center text-center gap-3 cursor-default"
      >
        <img src="assets/icon/comparte.svg" alt="Compartir" class="w-20 h-20" />
        <h3 class="text-base font-bold font-primary text-mint">Comparte</h3>
        <p class="text-sm font-secondary text-soft leading-snug">
          Envía tu enlace por WhatsApp o cópialo con un solo clic.
        </p>
      </div>
    </div>
  </section>
  